@import "tailwindcss";

@theme {
  --color-dark-100: #1a1a1a;
  --color-dark-200: #1f1f1f;
  --color-dark-300: #2d2d2d;
  --color-dark-400: #3d3d3d;
  --color-purple: #8B5CF6;
  --color-pink: #EC4899;
  --color-blue: #3B82F6;
}

.typewriter{
  overflow: hidden;
  border-right: 0.15em solid #8B5CF6;
  white-space: nowrap;
  animation: typing 3s steps(250, end) forwards, blink-caret 1s step-end 20;
}
@keyframes typing {
  from { width: 0 }
  to { width: 12.6ch }  /*adjust to your text length*/
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #8B5CF6; }
}

html {
  scroll-behavior: smooth;
}



